.team{
    background-color: rgb(252, 249, 249);
    margin-bottom: 100px ;
}
.team .container .head
 {
    text-align: center;
}
.team .container .head h1{
    text-transform: uppercase;
    color: rgb(17, 17, 122);
    padding-top: 70px;
    padding-bottom: 20px;
}
.team .container .back{
    margin-top: 20px;
}
.team .container .front h3,
.team .container .back h3{
    text-transform: uppercase;
    color: rgb(46, 46, 141);
    padding: 15px;
}
.team .container .head a button {
    text-transform: capitalize;
    background-color: rgb(97, 149, 247);
    color: white ;
    padding: 5px ;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}
.team .container .all-info .info,
.team .container .all-info .img
{
    padding-top: 18px;
}
.team .container .all-info .img img {
    border-radius: 20%;
    padding: 10px ;

}
.team .container .pic .info h6 {
    color:rgb(12, 12, 129);
}
.team .container .pic .info p {
    color:rgb(5, 5, 63);
}
